---
import { getCollection, render } from "astro:content";
import RecipeLayout from "../layouts/RecipeLayout.astro";
import RecipeBrowser from '../components/RecipeBrowser';

const allPosts = await getCollection("blog");
const pageTitle = "Recipes";

const renderedPosts = await Promise.all(allPosts.map(async (post) => {
  const { Content } = await render(post);
  return { post, Content };
}));

const recipeData = renderedPosts.map(({ post }) => ({
  id: post.id,
  title: post.data.title,
  shortName: post.data.shortName,
  tags: post.data.tags,
  ingredients: post.data.ingredients,
  image: post.data.image,
}));
---
<RecipeLayout pageTitle={pageTitle}>
  <!-- Pre-rendered recipe content, hidden until shown by RecipeBrowser -->
  {renderedPosts.map(({ post, Content }) => (
    <div id={`recipe-content-${post.id}`} style="display:none">
      <Content />
    </div>
  ))}

  <RecipeBrowser recipes={recipeData} client:load />
</RecipeLayout>
