---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <div class="header-row">
    <a href="/" class="site-name">Raven Recipes</a>
    <Navigation />
    <div class="header-controls">
      <ThemeIcon />
      <Menu />
    </div>
  </div>
</header>
