---
const { pathname } = Astro.url;
---
<div id="main-menu" class="nav-links">
    <a href="/" class={pathname === '/' ? 'active' : ''}>Home</a>
    <a href="/about/" class={pathname.startsWith('/about') ? 'active' : ''}>About</a>
    <a href="/recipes/" class={pathname.startsWith('/recipes') ? 'active' : ''}>Recipes</a>
</div>
